body {
    font-family: 'Tenor Sans',
        sans-serif;
}

.slider-btn-1 {
    margin-top: 15px;
}

#search-section {
    padding-bottom: 5px;

    #search {
        padding: 0 10px;
    }
}

#icon-section {
    padding: 25px 0 5px 0;
}

.card-content {
    text-align: left;
}

.card {
    margin-top: 20px;
}

#popular {
    padding-bottom: 25px;
}

#social-media {
    padding: 20px 0;

    i {
        padding: 0 20px;
    }

    .icon-wrapper {
        margin-top: 30px;
    }
}

.image-m {
    margin-top: 20px;
}